# Django
DJANGO_SECRET_KEY=
DJANGO_DEBUG=
DJANGO_ALLOW_ALL_HOSTS=
DJANGO_CORS_ALLOW_ALL=
DJANGO_ENABLE_CSRF=
DJANGO_PERMISSIVE_API=
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
ENABLE_DEBUGPY=
GUNICORN_WORKERS=
GUNICORN_TIMEOUT=
DJANGO_TRUST_PROXY_HEADERS=
DJANGO_LOG_JSON=

# Production reverse proxy (docker-compose.prod.yaml / Caddyfile)
DOMAIN_NAME=
NOVNC_BASIC_AUTH_USER=
# Generate with: docker run --rm caddy caddy hash-password --plaintext '<password>'
NOVNC_BASIC_AUTH_HASH=

# Scheduled DB backups (docker-compose.prod.yaml)
BACKUP_INTERVAL_SECONDS=
BACKUP_RETENTION_DAYS=

# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# Redis
REDIS_HOST=redis
REDIS_PORT=6379


#X.com (Twitter)
TWITTER_EMAIL=
TWITTER_USERNAME=
TWITTER_PASSWORD=
TWITTER_COOKIES_PATH=